 <div class="multi_plus">
           <h3 class="short">値段<span>（必須）</span></h3>
       <p>
       <select name="people">
           <option value="" disabled selected>選択してください</option>
                   <option value="10">10万〜50万円</option>
                   <option value="20">50万〜100万円</option>
                   <option value="30">100万〜150万円</option>
                   <option value="40">150万〜200万円</option>
                   <option value="50">200万〜250万円</option>
               </select>
       </p>
           <!--//multi_plus--></div>
