<div class="multi_plus">
      <h3 class="short">希望のエリア<span>（必須）</span></h3>
      <p>
          <select id="pref" name="prefecture_id">
          <option value="" disabled selected>都道府県を選ぶ</option>
                  <optgroup label="関東">
                   <option value="13">東京</option>
                   <option value="14">神奈川</option>
                   <option value="11">埼玉</option>
                   <option value="12">千葉</option>
                   <option value="8">茨城</option>
                   <option value="10">群馬</option>
                   <option value="9">栃木</option>
                   </optgroup>
                  <optgroup label="関西">
                   <option value="27">大阪</option>
                   <option value="28">兵庫</option>
                   <option value="26">京都</option>
                   <option value="25">滋賀</option>
                   <option value="29">奈良</option>
                   <option value="30">和歌山</option>
                   </optgroup>
                  <optgroup label="東海">
                   <option value="23">愛知</option>
                   <option value="22">静岡</option>
                   <option value="21">岐阜</option>
                   <option value="24">三重</option>
                   </optgroup>
                  <optgroup label="北海道">
                   <option value="1">北海道</option>
                   </optgroup>
                  <optgroup label="東北">
                   <option value="2">青森</option>
                   <option value="3">岩手</option>
                   <option value="4">宮城</option>
                   <option value="5">秋田</option>
                   <option value="6">山形</option>
                   <option value="7">福島</option>
                   </optgroup>
                  <optgroup label="北陸・甲信越">
                   <option value="19">山梨</option>
                   <option value="20">長野</option>
                   <option value="15">新潟</option>
                   <option value="16">富山</option>
                   <option value="17">石川</option>
                   <option value="18">福井</option>
                   </optgroup>
                  <optgroup label="中・四国">
                   <option value="33">岡山</option>
                   <option value="34">広島</option>
                   <option value="32">島根</option>
                   <option value="31">鳥取</option>
                   <option value="35">山口</option>
                   <option value="36">徳島</option>
                   <option value="38">愛媛</option>
                   <option value="37">香川</option>
                   <option value="39">高知</option>
                   </optgroup>
                  <optgroup label="九州・沖縄">
                   <option value="40">福岡</option>
                   <option value="44">大分</option>
                   <option value="41">佐賀</option>
                   <option value="45">宮崎</option>
                   <option value="42">長崎</option>
                   <option value="46">鹿児島</option>
                   <option value="43">熊本</option>
                   <option value="47">沖縄</option>
                   </optgroup>
                  </select>
      </p>
      <!--//multi_plus--></div>
