<div class="sg_2col sg_par10 sg_pal10">
  <dl class="sg_leftBox">
    <dt class="sg_clearfix">
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'photo', 1, {nonInteraction: true});" href="/334/"><img alt="ホテル メルパルク横浜" width="271" height="203" class="dimg lazy" data-original="/uploads/photo_hall/334/top.jpg" src="/uploads/photo_hall/334/top.jpg" style="display: inline;"></a>
    <span class="more_photo_link">
      <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'more_photo', 1, {nonInteraction: true});" href="/334/">会場写真をもっと見る</a>          </span>


    </dt>
  </dl>

  <div class="sg_rightBox">
    <ul class="sg_postlabel sg_clearfix">

      <li><a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'special', 1, {nonInteraction: true});" href="/landscape/hall_id/334/"><img alt="リゾート・緑・和" title="リゾート・緑・和" width="196" height="32" class="lazy" data-original="/images/sg_common/p_label_12.gif" src="/images/sg_common/p_label_12.gif" style="display: inline;"></a></li>
    </ul>

    <script type="text/javascript">
$(function() {
    $('.label_atobarai').powerTip({popupId: 'powerTipBlue'});
    $('.label_atobarai').data('powertiptarget', 'myToolTip');
    });
    </script>
    <div id="myToolTip" class="deco_atobarai">
      <dl>
        <dt>すぐ婚navi後払いサービスとは？</dt>
        <dd>ブライズデスクご利用のお客様に限り、<br>結婚式の費用を後払いできるサービスです。</dd>
      </dl>
    </div>


    <ul class="sg_hallinfo">
      <li><dl>
        <dt>対応人数</dt>
        <dd>着席：2名 ～ 240名</dd>
      </dl></li>
      <li><dl>
        <dt>挙式スタイル</dt>
        <dd><p>教会式／神前式／人前式</p></dd>
      </dl></li>
    </ul>
    <style type="text/css">
.u-priceRange {
  position: relative;
  padding: 20px 0 30px;
  box-sizing:border-box;
  overflow: hidden;
}
.u-priceRange_graf {
  position: relative;
  width: 100%;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #ececec;
}
.u-priceRange_graf_item {
  position: absolute;
  display: inline-block;
           *display: inline;
           *zoom: 1;
           height: 10px;
           box-sizing:border-box;
}
.u-priceRange_graf_item.discRange {
  margin-left: -6%;
  padding: 0 6%;
  background: #de3049;
}
.u-priceRange_graf_item.normalRange {
  margin-left: -10%;
  padding: 0 10%;
  background: #999;
}

.u-priceRange_bal{
  position: absolute;
  bottom: 0;
  width: 100%;
  /** グラフの表示幅に応じて調整すること */
  margin-left: -20%;
}
.u-priceRange_bal_item {
  position: relative;
  display:inline-block;
          *display:inline;
          *zoom:1;
          padding: 0 8px;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          -o-box-sizing: content-box;
          -ms-box-sizing: content-box;
          box-sizing: content-box;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -o-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          font-size: 13px;
          color: #FFF;
          text-align: center;
}
.u-priceRange_bal_item.disc {
  z-index: 2;
  background: #de3049;
}
.u-priceRange_bal_item.disc img {
  vertical-align: 0;
}
.u-priceRange_bal_item.normal {
  z-index: 1;
  /** グラフの表示幅に応じて調整すること */
  margin-left: -12%;
  background: #999;
}
.u-priceRange_bal_itemLogo {
  display: inline-block;
           *display: inline;
           *zoom: 1;
           height: 13px;
           margin-right: -2px;
           vertical-align: -0.15rem;
           overflow: hidden;
}

.u-priceRange_bal_item::before {
  position: absolute;
  top: -11px;
  left: 50%;
  content: "▲";
  font-size: 0.7rem;
}
.u-priceRange_bal_item.disc::before{
  margin-left: 15%;
  color: #de3049;
}
.u-priceRange_bal_item.normal::before {
  margin-left: -30%;
  color: #999;
}

.u-priceRange_scale {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 10px;
  line-height: 10px;
}
.u-priceRange_scale_item {
  float: left;
  width: 10%;
  border-right: solid 1px #c3c3c3;
  font-size: 0.7rem;
  color: #999;
  text-align: center;
  box-sizing:border-box;
}
.u-priceRange_scale_item span {
  position: relative;
  top: -14px;
  left: 50%;
}
.u-priceRange_scale_item.first {
  width: 0;
  text-align: left;
  border: none;
}
.u-priceRange_scale_item.last {
  text-align: right;
  border: none;
}
.u-priceRange_scale_item.last span {
  left: 0;
}
    </style>

    <p class="sg_tac" id="1-5" inview_done="1">
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'detail', 1, {nonInteraction: true});" href="/334/"><img alt="式場の詳細を見る" width="271" height="33" class="sg_imgover" src="/images/search/b_hall_detail.gif"></a>        </p>
  </div>
</div>
