<table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
  <tr>
    <th ><font >メニュー</font></th>
    <th bgcolor="#EE0000" width="150"><font color="#FFFFFF">Package1</font></th>
    <th bgcolor="#0000FF" width="200"><font color="#FFFFFF">Package2</font></th>
  </tr>
  <tr>
    <td  align="right" nowrap>場所(Venue)</td>
    <td  valign="top" width="150">東京(Tokyo)</td>
    <td  valign="top" width="200">大阪(Osaka)</td>
  </tr>
  <tr>
    <td  align="right" nowrap>値段</td>
    <td  valign="top" width="150">210万円</td>
    <td  valign="top" width="200">260万円</td>
  </tr>
  <tr>
    <td  align="right" nowrap>check</td>

    <td  valign="top" width="150"><input type="radio" name="riyu" value="1" id=one></td>
    <td  valign="top" width="200"><input type="radio" name="riyu" value="2" id=two></td>
  </tr>
</table>
