 <div class="multi_plus">
           <h3 class="short">招待人数<span>（必須）</span></h3>
       <select name="people">
           <option value="" disabled selected>選択してください</option>
                   <option value="10">10名</option>
                   <option value="20">20名</option>
                   <option value="30">30名</option>
                   <option value="40">40名</option>
                   <option value="50">50名</option>
                   <option value="60">60名</option>
                   <option value="70">70名</option>
                   <option value="80">80名</option>
                   <option value="90">90名</option>
                   <option value="100">100名</option>
               </select>
           <!--//multi_plus--></div>
