<table class="tb1">
  <caption>【一般属性】</caption>
  <tbody><tr class="at"><th>属性</th><th>意味</th></tr>
  <tr>
    <td><b><a href="attr/accesskey.htm">accesskey</a></b>=<i>key</i></td><td><em>H4</em>/e4/Ch2/Fx2/Sa3/Op12/N6/i1。アクセスキーを指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/class.htm">class</a></b>=<i>class</i></td><td><em>H4</em>/e3/Ch1/Fx1/Sa1/Op1/N4。クラスを指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/contenteditable.htm">contenteditable</a></b>=<i>bool</i></td><td><em>H5</em>/e55/Ch11/Fx3/Op10.6/Sa3.2。要素を編集可能にします。</td>
  </tr>
  <tr>
    <td><b><a href="attr/dir.htm">dir</a></b>=<i>dir</i></td><td><em>H4</em>/e5/Ch5/Fx4/Sa6/Op25/N6。文字の表示方向を指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/hidden.htm">hidden</a></b></td><td><em>H5</em>/e/Ch/Fx/Sa/Op。要素を非表示にします。</td>
  </tr>
  <tr>
    <td><b><a href="attr/id.htm">id</a></b>=<i>id</i></td><td><em>H4</em>/e3/Ch/Fx/Sa/Op/N4。ID を指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/lang.htm">lang</a></b>=<i>lang</i></td><td><em>H4</em>/e4/Ch/Fx/Sa/Op/N6。言語を指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/spellcheck.htm">spellcheck</a></b>=<i>bool</i></td><td><em>H5</em>。スペルをチェックします。</td>
  </tr>
  <tr>
    <td><b><a href="attr/style.htm">style</a></b>=<i>style</i></td><td><em>H4</em>/e3/Ch/Fx/Sa/Op/N4。スタイルシートを指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/tabindex.htm">tabindex</a></b>=<i>n</i></td><td><em>H4</em>/e4/Ch/Fx/Sa/Op/N6。タブインデックスを指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/title.htm">title</a></b>=<i>title</i></td><td><em>H2</em>/e2/Ch/Fx/Sa/Op/N6。タイトルを指定します。</td>
  </tr>
  <tr>
    <td><b><a href="attr/translate.htm">translate</a></b>=<i>title</i></td><td><em>H5</em>。翻訳可否を指定します。</td>
  </tr>
</tbody></table>
