<!--//multi_plus--></div>

    <div class="multi_equal">
    <h3>結婚式のこだわり</h3>
    <ul class="estimate_category">
        <li class="category0"><label><input name="estimate_category_id" value="" type="radio" checked="checked" />こだわらない</label></li>
                <li class="category1"><label><input type="radio" name="estimate_category_id" value="1" />予算重視<span>最低限のアイテムで、全般的にコストを抑える結婚式</span></label></li>
                <li class="category2"><label><input type="radio" name="estimate_category_id" value="2" />お料理重視<span>おもてなしを意識してお料理・飲物にこだわる結婚式</span></label></li>
                <li class="category3"><label><input type="radio" name="estimate_category_id" value="3" />衣装重視<span>衣装やビューティ関連を大切にする結婚式</span></label></li>
                <li class="category4"><label><input type="radio" name="estimate_category_id" value="4" />写真・映像重視<span>写真などメモリアルアイテムを重視する結婚式</span></label></li>
                <li class="category5"><label><input type="radio" name="estimate_category_id" value="5" />演出・コーディネート重視<span>華やかな演出やお花など装飾にこだわる結婚式</span></label></li>
                <li class="category6"><label><input type="radio" name="estimate_category_id" value="6" />ベストセレクション<span>主要アイテムをすべてグレードアップした結婚式</span></label></li>
            </ul>
    <!--//multi_equal--></div>

