<div class="topBtnList detailBtnList">
    <p class="discountMessage">すぐ婚naviからブライダルフェア予約するだけで、「すぐ婚割引特典」が適用に！</p>
    <ul class="sg_clearfix">
      <li class="fairButton">
            <a onclick="ga('send', 'event', 'kanto', 'hall/detail', 'fair_btn', 1, {nonInteraction: true});" href="/2496/fair/"><img width="230" height="58" alt="この会場がきになったらブライダルフェア一覧へ" class="sg_imgover" src="/images/hall/b_top.png?d=20151225"></a>        </li>
      <li>
      

      </li><li class="fav">
      <p class="favorite  add_fav_2496">
      <img width="174" height="58" alt="お気に入りに追加" class="sg_imgover" onclick="ga('send', 'event', 'kanto', 'hall/detail', 'favorite', 1, {nonInteraction: true});insert_fav('','2496','','');" src="/images/hall/b_fav.png"></p>
      <p class="favorite  fav_list_2496" style="display:none">
      <a href="/favorite/list/"><img width="174" height="58" alt="お気に入りに追加" class="sg_imgover" src="/images/hall/b_fav_list.png"></a></p>
      </li>
          
          <li class="topTelBox">
            <p class="call">電話での見学予約・ご相談はこちら</p>
            <p class="tel">0120-97-2767</p>
            <p class="time">平日 10時-19時 / 土日祝10時-19時</p>
          </li>
        </ul>
      </div>
