<div class="sg_2col sg_par10 sg_pal10">
  <dl class="sg_leftBox">
    <dt class="sg_clearfix">
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'photo', 1, {nonInteraction: true});" href="/334/">
    <img alt="ホテル メルパルク横浜" width="271" height="203" class="dimg lazy" data-original="assets/top.jpg" src="assets/top.jpg" style="display: inline;"></a>
    <span class="more_photo_link">
      <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'more_photo', 1, {nonInteraction: true});" href="/334/">会場写真をもっと見る</a>          </span>


    </dt>
  </dl>

  <div class="sg_rightBox">
    <ul class="sg_postlabel sg_clearfix">



    <ul class="sg_hallinfo">
      <li><dl>
        <dt>場所(Venue)</dt>
        <dd>東京</dd>
      </dl></li>
      <li><dl>
        <dt>値段(Price)</dt>
        <dd>200~250万円</dd>
      </dl></li>
      <li><dl>
      <li><dl>
        <dt>対応人数</dt>
        <dd>着席：2名 ～ 240名</dd>
      </dl></li>
      <li><dl>
        <dt>挙式スタイル</dt>
        <dd><p>教会式／神前式／人前式</p></dd>
      </dl></li>
    </ul>


    <p class="sg_tac" id="1-5" inview_done="1">
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'detail', 1, {nonInteraction: true});" href="/334/"><img alt="Agency" width="70" height="33" class="sg_imgover" src="/images/search/b_hall_detail.gif"></a>
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'detail', 1, {nonInteraction: true});" href="/334/"><img alt="Planner" width="70" height="33" class="sg_imgover" src="/images/search/b_hall_detail.gif"></a>
    <a onclick="ga('send', 'event', 'kanto_334', 'search/hallList', 'detail', 1, {nonInteraction: true});" href="/334/"><img alt="More" width="70" height="33" class="sg_imgover" src="/images/search/b_hall_detail.gif"></a>        </p>
  </div>
</div>
