<footer>
    <div style="background-color:#51C4CC;">
      <div class="container">
        <div class="row" style="padding:20px 10px; text-align:center;">
          <div class="col-xs-12">
            <img src="assets/logo-07.png" style="height:30px;">
          </div>
        </div>
      </div>
    </div>
  </footer>
